<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvqyGqyqXVPC1zFnzQrFsInFLQs6C-xRk</string>
	<key>GCM_SENDER_ID</key>
	<string>497921659842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.countingLoveDay</string>
	<key>PROJECT_ID</key>
	<string>counting-love-day</string>
	<key>STORAGE_BUCKET</key>
	<string>counting-love-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497921659842:ios:f7eba047be0dc098b97c5b</string>
</dict>
</plist>